
@keyframes imageShift {
	0% {background-image: url("img5.jpg");}
	20% {background-image: url("img5.jpg");}
	100% {background-image: url("img3.jpg");}
	
}

.container {
	display: flex;
	height: 90%;
    animation-name: imageShift;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
}


#right {
	display: flex;
	order: 2;
	transform: rotate(180deg);
	width: 5%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	align-self: center;
	align-items: center;
	justify-content: center;
}

#left{
	display: flex;
	width: 5%;
	text-align: center;
	vertical-align: middle;
	align-self: center;
	height: 100%;
	align-items: center;
	justify-content: center;
}


#right:hover, #left:hover{
	opacity: 0.3;
	background-color: #6666cc;
}

body{
	background: -webkit-linear-gradient(#000000 20%, #333333 40%, #666666 60%, #999999 80%, #cccccc 100%);
}

nav{
	display: block;
	position: relative;
	top: 5%;
	left: 90%;
	width: 8%;
	padding: 1%;
}


#heading{
	text-align: center;
	border-radius: 60px 60px 0px 0px;
	background: -webkit-linear-gradient(#000000 40%,#888888 100%);
}

#about{
/*	background: -webkit-linear-gradient(#888888 10%,#aaaaaa 100%);*/
	font-family: perpetua, helvetica;
	font-size: 15pt;
	text-align: center;
}

#codes{
	display: flex;
	flex-flow: wrap;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}

#py{
	transform: rotate(-20deg);
	width: 50%;
}
#py:hover{
	opacity: 0.2;
}

#c{
	transform: rotate(30deg);
	width: 80%;
}
#c:hover{
	opacity:0.2;
}

#web{
	transform: rotate(-10deg);
	width: 60%;
}
#web:hover{
	opacity:0.2;
}

@font-face{
	font-family: Gistlight;
	src:url('GistLight.otf');
}

@font-face{
	font-family: rosanna;
	src:url('Rosanna.otf');
}

@font-face{
	font-family: owner;
	src:url('THE OWNER.otf');
}

#name{
	text-shadow: 5px 5px 2px #888888;
}

h1{
	font-family: Gistlight;
}
h4{
	font-family: rosanna;
	font-size: 48pt;
}
#about p{
	font-family: owner;
}
#red{
	color: red;
}
#yellow{
	color: yellow;
}
#blue{
	color: blue;
}